@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap');
*{
  margin: 0;
  padding: 0;
}
/*Navbar syles*/
nav{
  display: flex;
  z-index: 1000;
  position: fixed;
  width: 100%;
  background: grey;
  height: 80px;
  align-items: center;
  gap: 6px;
}
.logo{
  display: flex;
  padding: 0 80px 0 60px;
}
.logo a{
   font-size: 22px;
   text-decoration: none;
}

nav ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 30px;
}
nav ul li{
  font-family: sans-serif;
  font-size:  14px;
  color: white;
}
nav ul li:hover{
  cursor: pointer;
  transform: translateY(4px);
  transition: transform 0.3s ease-in-out 0.1s;

}

#sale{
  color: pink;
}
.search-container{
  display: flex;
  width: 240px;
  height: 30px;
  margin-left: 100px;
  border-radius: 18px;
}
#searchBar{
  width: 100%;
  font-family: sans-serif;
  padding: 10px;
  border-radius: 18px;
  border: none;
}
#searchBar::placeholder{
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 500;
}
#searchBar:focus{
  outline: none;
}
.userAccess{
  display: flex;
  margin: 0 0 0 60px;
  padding: 0 40px 0 0;
  gap: 20px;
}
.userinfo,
.user-wishlist,
.user-cart{
  font-size: 200px;
}

.hamburger-container{
  display: none;
}
/*Navbar media queries*/
@media(max-width: 700px){
.main-menu{
  display: none;
}
.search-container{
  display: none;
}
#searchBar{
  display: none;
}
.hamburger-container{
  display: flex;
}
.logo{
  margin-left: 20px;
}


}

@media(max-width: 1059px){
  nav{
    width: 100%;
  }
  .logo{
  display: flex;
  padding: 0 0 0 60px;
}
.logo a{
   font-size: 22px;
   text-decoration: none;
}

nav ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 10px;
}
nav ul li{
  font-family: sans-serif;
  font-size:  14px;
  color: white;
}

.search-container{
  display: flex;
  width: 240px;
  height: 30px;
  background: black;
  margin-left: 2px;
  border-radius: 18px;
}
.userAccess{
  display: flex;
  margin: 0 0 0 20px;
  padding: 0 20px 0 0;
  gap: 20px;
}

}

/*Home section styles*/
.home-section{
  display: flex;
  padding-top: 80px;
  width: 100%;  
  height: 600px;
  background: url("./assets/images/homeone.jpg");
  background-size: cover;
  background-position: center center; 
  background-repeat: no-repeat;
}
.home-container{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.15);
}
.hero{
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 500px;
  margin: 50px 0 0 20px;
  /*background: white;*/
}
.heroH{
  background: #e4b2ae;
  width: 160px;
  padding: 6px;
  border-radius: 5px;
  margin-bottom: 2rem;
}
.hero h2{
  font-size: 12px;
  font-family: 'Montserrat';
  text-align: center;
  color: white;
}
.hero h1{
  font-family: 'Montserrat';
  font-size: 5rem;
  margin-bottom: 2rem;
}
.hero p{
  font-family: "Avenir Next", "Avenir", "Segoe UI", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: white;
}
